# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/

# IDE
.vscode/
.idea/

# Project specific
dataset/
*.h5
*.hdf5
config.py
*.json

# Logs and databases
*.log
*.sqlite
